<html>
<head>
    <title>Affirmations</title>

    <link href="css\affirmations.css" rel="stylesheet">
</head>


<body>

    <div id="title">
        <h2>Self-Affirmations</h2>
    </div>

    <div>
            <h4 id="affirmations"> hello </h4>
        </div>
        <div class="editDiv">
        <a href = "/affirmationEdit">
            <button id="editButton"><img src="https://i.imgur.com/CVEaQjt.png"></button>
        </a>
    </div>
    <div class="rollDiv">
            <button id="rollButton" onclick="getRandom()">Affirm Myself</button>
    </div>
    </div>

    <div class="backBtn">
        <a href="/progress">
            <button>
                <img id="backBtn" src="https://i.imgur.com/jV7gnnP.png">
            </button>
        </a>
    </div>

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/affirmations.js"></script>

</body>

</html>