<html>
<head>
	<title>Check In</title>
		<link href="css\checkin.css" type="text/css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			#q1, #q2, #q3 {
			height: 13%;
			width: 90%;
			margin-bottom: 3%;
			padding: 12px 20px;
    		display: inline-block;
    		background-color: #F2F9FF;
   			margin-left: 5%;
    		border-radius: 16px;
			}

			body {
  				background-color: #323E49;
  				font-family: verano;
			}

			#title {
				color: white;
				text-align: center;
			}

			h2 {
				color: white;
				text-align: center;
			}

			.progressButton {
				background-color: #F2F9FF;
				border-radius: 8px;
				color: black;
			}
			.progressButtonDiv {
				margin-top: 5%;
			}
		</style>
</head>


<h1 id="title">{{stepName}}</h1>
<h2>Step: <span id="stepNum">{{index}}</span></h2>

<body>

	<div class="questions">
        <input type="text" id="q1" placeholder="How did this help you reach your goal?">
        <input type="text" id="q2" placeholder="How do you feel after completing this?">
        <input type="text" id="q3" placeholder="What did you gain from this?">
    </div>



	<div class="progressButtonDiv">
		<a href="/progress">
			<button class="progressButton" onclick="nextPage()">
				Done
			</button>
		</a>
	</div>
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/checkin.js"></script>
</body>
</html>
