<html>

<head>
    <title>Nimbus</title>

    <link href="css\index.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>
    <div class = "bgImage">
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=950520648447621&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="username">
        <input id="user" type="text" placeholder=" Username">
    </div>

    <div class="password">
        <input id="pass" type="password" placeholder=" Password">
    </div>

    <div class="loginButton">
        <a href="/welcome">
            <button id="log">Log In</button>
        </a>
    </div>

    <div class="fbLogin">
        <img id="photo" class='img-responsive'/>
        <p class="facebookLogin">
            <fb:login-button size = "large" class="fb" scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
        </p>
        <a href="/welcome">
            <button id="continue">Continue</button>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
</div>
</body>

</html>