<html>
<head>
    <title>welcome</title>

    <link href="css\welcome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<h1 class="title">Welcome to Nimbus</h1>
	</div>

	<div class="info">
		<p>Nimbus is an app that helps overwhelmed users who become inattentive of their goals and get lost in thoughts rather than actions. By encouraging them to constantly reflect and affirm their efforts, users will learn to be more mindful.</p>
		<p>The features of this app are supported by neuroscience and psychological research in order to maximize your benefits. By focusing on only one immediate goal at a time, you minimize switch costs when multitasking and more efficiently utilize your cognitive resources according to the Capacity Theory. In addition, research suggests there is a connection between reflection and self-affirmation with performance.</p>
		<p>Will add more and revise later</p>
	</div>


	<div class="btnDiv">
        <a href="/reflect">
            <button id="btn">Get Started</button>
        </a>
    </div>

</body>
</html>