<html>
<head>
    <title>welcome</title>

    <link href="css\welcome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<h1 class="title">Welcome to Nimbus</h1>
	</div>

	<div class="info">
		<div id="subParagraphs">
		<p>	Nimbus is an app that helps users become more mindful of their goals and motitivations by encouraging users to pause and reflect. </p>
		<p>Users can break down their immediate goal into actionable steps and evaluate how that goal is being met.</p>
	</div>
		<h3 class="why">Why Nimbus?</h3>
		<div id = "subParagraphs">
		<p>By focusing on only one goal at a time, you minimize switch costs that result from multitasking and maximize your cognitive resources for this particular goal.</p>
		<p>Through reflection questions, you attribute meaning and insights to the actions you take. This helps to enhance your self-efficacy.</p>
		<p>With self-affirmations, you maintain a positive outlook and validate your efforts.</p>
	</div>
	</div>


	<div class="btnDiv">
        <a href="/reflect">
            <button id="btn">Get Started</button>
        </a>
    </div>

</body>
</html>