

h4{
    position: absolute;
    margin-top:40%;
    font-size: 85px;
    font-family:verdana;
    color:white;
    text-align: center;
}

body {
    background-image: url("https://i.imgur.com/gnv79ga.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}


#message {
    position: relative;
    color:white;
    font-size: 30px;
    font-family: verdana;
    margin-left:40%;
}

#messageDiv {
    position: relative;
    top:20%;
}

#rollButton {
    position: relative;
    background-color:#F2F9FF;
    border: none;
    color: black;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-weight:bold;
    cursor: pointer;
    border-radius:16px;
    width:75%;
    height:4%;
}

#editButton
{
    position: absolute;
    width:5px;
    height:5px;
    margin-top:121%;
    margin-left:80%;
}

.rollDiv {
    margin-left:20%;
    margin-top:150%;
}

#continueDiv {
    text-align: center;
}

#submissions {
    position: relative;
    color:white;
    font-size: 30px;
    font-family: verdana;

}
input[type=text] {
    width: 30%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=submit] {
    width: 20%;
    background-color:#1975D1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:verdana;
    font-weight:bold;
}
.box {
    max-width:100%;
    max-height:100%;
    margin:auto;
}


#title {
    font-size: 45px;
    text-align: center;
    font-family:verdana;
    color:#FFFFFF;
    margin-top: 10%;
}

.backBtn {
    position: absolute;
    float:left;
    margin-left:4%;
    margin-top:6%;
}
#backBtn {
    width: 300%;
}