#myInput {
	width: 60%;
	border: 1px solid #3EBDCF;
	box-sizing: border-box;
}

#uList li {
    padding: 2%;
    color:white;
    font-size: 20px;
    font-family:verdana;
}

.closeButton {
    position:absolute;
    right: 10%;
    background-color: #f44336;
    z-index: 1000;

}


.addButton {
    font-size: 30px;
    background-color: #FFFFFF;
    font-family:verdana;
    text-align: center;
    border-radius:15%;
    color: #24DE9E;
    margin-left: 5%;
}

#myInput {
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
}

.doneButton {
    float:left;
    margin-left:58%;
}
#done {
    margin-top: 50%;
    font-size: 15px;
    background-color:#24DE9E;
    color:white;
    width:135%;
    height:5%;
    border-radius:8px;
    border:white;
}


#title {
    text-align: center;
    font-family:verdana;
    color:#FFFFFF;
}

body {
    background-color: #323E49;
}