#title {
    text-align: center;
    color: #FFFFFF;
    font-family:verdana;
    font-size: 55px;
    margin-top:15%;
}

#focus {
	color: white;
}
#continueDiv {
    float: right;
}

#q1, #q2, #q3, #q4 {
	height: 7%;
	width: 90%;
	margin: 3%;
	padding: 12px 20px;
    display: inline-block;
}

.backDiv {
    position: absolute;
    float:left;
    margin-left:4%;
    margin-top: 40%;
}

#backBtn {
    width:300%;
}

.saveButton {
    margin-left:80%;
}
#save {
    font-size: 50px;
    background-color:#24DE9E;
    color:white;
    width:100%;
    height:4%;
    border-radius:8px;
    border:white;
}

body {
    background-color: #323E49;
}

.statusDiv {
    position: absolute;
    margin-top:43%;
    margin-left: 40%;
}
#status {
    width: 160%;
}