
#title {
    text-align: center;
    font-family:verdana;
    color: #FFFFFF;
    margin-bottom:10%;
}

#focus {
    color: black;
}
#continueDiv {
    float: right;
}

.questions {
    margin-top: 30%;
}
#q1, #q2, #q3, #q4 {
    height: 30%;
    width: 90%;
    margin: 8px;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #3EBDCF;
    box-sizing: border-box;
    font-size: 15px;
}
#q2, #q3, #q4 {
    display: none;
}

.nextQDiv {
    margin-left: 30%;
}
#next, #next2, #last {
    font-size: 15px;
    background-color:#3EBDCF;
    color:white;
    height:5%;
    border-radius:15%;
    border:white;
}
#next2, #last {
    display: none;
}

.backButton {
    float:left;
    margin-left:3%;
}
#back {
    font-size: 15px;
    background-color:#3EBDCF;
    color:white;
    width:135%;
    height:5%;
    border-radius:15%;
    border:white;
}

.saveButton {
    float:left;
    margin-left:58%;
}
#save {
    font-size: 15px;
    background-color:#3EBDCF;
    color:white;
    width:135%;
    height:5%;
    border-radius:15%;
    border:white;
    display: none;
}

body {
    background-color: #323E49;
}

.statusDiv {
    margin-top: 60%;
    margin-left: 42%;
}
#status {
    width: 35%;
}