
/*#name {
	margin-left:35%;
	font-size:10px;
	font-family:verdana;
	margin-top:5%;
	color:white;
	font-weight:lighter;
}

.logo {
	margin-top:15%;
	margin-left:30%;
}*/
.username {
	margin-top: 85%;
	margin-left: 10%;
	width: 80%;
    display: inline-block;
    background: none;
}
#user {
	width:100%;
	height:5%;
	background: none;
	border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}
.password{
	margin-top:7%;
	margin-left: 10%;
	width: 80%;
    display: inline-block;
    background: none;

}
#pass {
	width:100%;
	height:5%;
	background: none;
	border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}
input::placeholder {
	color: white;
	font-size: 20px;
}
input {
	color:white;
	font-size: 20px;
}

body {
    background-image: url("https://i.imgur.com/bB6ERWc.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#log{
	color: none;
	font-family: verdana;
	font-weight:bold;
	font-size:15px;
	text-align:center;
	padding-left:10px;
	margin-left:8%;
	margin-top:4%;
}
.loginButton {
	width: 25%;
	height:5%;
    background-color:#FFFFFF;
    padding: 5px 5px;
    margin-top:10%;
	margin-left:34%;
    border: none;
    cursor: pointer;
    font-family:verdana;
    font-weight:bold;
    border-radius: 8px;
}

.facebookLogin {
	margin-left:40%;
	margin-top:-65%;
	border-radius: 8px;
}


#continue {
	display: none;
	width: 20%;
	margin-top:5%;
	margin-left:40%;
	font-family:verdana;
    font-weight:bold;
	background-color:#FFFFFF;
	padding: 5px 5px;
	border-radius: 8px;
}

#photo {
	width:60%;
	margin-left:20%;
	margin-top:75%;
}
