
#title {
    text-align: center;
    color: #FFFFFF;
    margin-bottom:10%;
    font-family:verdana;
    font-size: 45px;
}


#userInput {
    margin-top: 15%;
    margin-left: 5%;
    text-align: center;
    position: relative;
}

#continueDiv {
    margin-top: 55%;
    margin-left: 85%;
}

/*#continueDiv button {
    font-size: 45px;
    height:7%;
    width:100%;
    border-radius:10%;
    background-color: #3EBDCF;
    color: white;
    margin-right:10%; 
}*/

#continueBtn {
    width: 300%;
}

#imgDiv {
    position: relative;
    width: 100%;
    height: 50%;
    top: 0;
    z-index: -1;
}

#imgDiv img {
    display: block;
    margin: auto;  
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

#list {
    position: absolute;
    top: 16%;
    left: 16%;
    z-index: 1000;
    text-align: center;
    margin-top:20%;
    /*border: salmon solid 1px;*/
    width: 70%;
    font-size: 40px;
    font-family:verdana;
    color: #3EBDCF;


}

#uList li {
    padding: 2%;
    background-color:white;
}

ul li:hover {
}

input {
    width: 90%;
    float: left;
    font-size: 30px;
    height: 5%;
    font-family:verdana;

}
.addButton {
    width: 10%;
    float: left;
    font-size: 70px;
    background-color: #FFFFFF;
    height: 5%;
    font-family:verdana;
    text-align: center;
    border-radius:15%;
    color: #24DE9E;
    margin-left: 5%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.closeButton {
    position:absolute;
    right: 0;
    background-color: red;
    width:10%;
    z-index: 1000;
    color:white;

}

.closeButton:hover {
    background-color: salmon;
}

#home {
    width:175%;
}

#myInput {
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #3EBDCF;
    box-sizing: border-box;
}

body {
    background-color: #323E49;
}

.statusDiv {
    margin-top: -5%;
    margin-left: 42%;
}
#status {
    width: 35%;
}