 
#title {
    text-align: center;
    color: #FFFFFF;
    margin-bottom:20%;
    font-family:verdana;
    font-size: 55px;
    margin-top:15%;
}


#userInput {
    margin-top: 15%;
    margin-left: 5%;
    text-align: center;
    position: relative;
}

#continueDiv {
    position: absolute;
    margin-top: 25%;
    margin-left: 85%;
}

#continueBtn {
    width: 300%;
}

#imgDiv {
    position: relative;
    width: 100%;
    height: 50%;
    top: 0;
    z-index: -1;
}

#imgDiv img {
    display: block;
    margin: auto;  
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

#list {
    position: absolute;
    top: 30%;
    left: 16%;
    z-index: 1000;
    text-align: center;
    margin-top:-8%;
    /*border: salmon solid 1px;*/
    width: 70%;
    font-size: 40px;
    font-family:verdana;
    color: #FFFFFF;
}

#uList li {
    margin-top:2%;
}

ul li:hover {
}

input {
    width: 90%;
    float: left;
    font-size: 30px;
    height: 5%;
    font-family:verdana;

}
.addButton {
    width: 10%;
    float: left;
    font-size: 70px;
    background-color: #FFFFFF;
    height: 5%;
    font-family:verdana;
    text-align: center;
    border-radius:75%;
    color: #24DE9E;
    margin-left: -5%;
    margin-top: -10%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.closeButton {
    position:absolute;
    right: 0;
    width:10%;
    z-index: 1000;
    background-image: url("https://i.imgur.com/JPQYYMS.png");
    background-repeat: no-repeat;
    background-position: center; 
}


#myInput {
    width: 90%;
    padding: 12px 20px;
    display: inline-block;
    border-radius:20px;
    background-color: #6F787F;
    margin-top:-10%;
}
input::placeholder {
    color: white;
    font-size: 40px;
}
input {
    color:white;
    font-size: 40px;
}
body {
    background-color: #323E49;
}

.statusDiv {
    position: absolute;
    margin-top:28%;
    margin-left: 40%;
}
#status {
    width: 160%;
}