body {
    background-color: #323E49;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#title {
    text-align: center;
    color: #FFFFFF;
    margin-bottom:20%;
    font-family:verdana;
    font-size: 55px;
    margin-top:15%;
}

#continueDiv {
    position: absolute;
    margin-top: 40%;
    margin-left: 85%;
}

/*#continueDiv button {
    font-size: 45px;
    background-color:#3EBDCF;
    color:white;
    width:110%;
    height:5%;
    border-radius:15%;
    border:white;
}*/
#continueBtn {
    width: 300%;
}

.backDiv {
    position: absolute;
    float:left;
    margin-left:4%;
    margin-top: 40%;
}

#backBtn {
    width: 300%;
}

#imgDiv {
    position: relative;
    width: 100%;
    height: 50%;
    top: 0;
    z-index: -1;
}

#imgDiv img {
    display: block;
    margin: auto;   
    max-width: 100%;
    max-height: 100%;
    position: relative;
}



#list {
    position: absolute;
    top: 30%;
    left: 16%;
    z-index: 1000;
    text-align: center;
    /*border: salmon solid 1px;*/
    width: 70%;
    font-size: 40px;
    font-family:verdana;
    margin-top:-8%;
}

#uList li {
    margin-top: 1%;
    padding: 2%;
    background: none;
    color:#FFFFFF;
}



.crossout {
    text-decoration: line-through red;
}


.statusDiv {
    position: absolute;
    margin-top:43%;
    margin-left: 40%;
}
#status {
    width: 160%;
}