
#title {
    text-align: center;
    color: #FFFFFF;
    font-family:verdana;
    font-size: 20px;
    margin-top:15%;
    margin-bottom: 10%;
}

#subtitle {
    text-align: center;
    color: #FFFFFF;
    font-family:verdana;
    font-size: 17px;
    margin-top: -3%;
}


#uList li {
    padding: 2%;
    color:black;
    font-family:verdana;
    position: relative;
    background-color: #F2F9FF;
    border-radius: 8px;
    margin-top:1%;
    margin-left: -12%;
}

.closeButton {
    position:absolute;
    width:10%;
    right:0;
    z-index: 1000;
    background-image: url("https://i.imgur.com/JPQYYMS.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.progressButton {
    position: absolute;
    margin-top:15%;
    margin-left: 10%;
}
#progress {
    font-size: 20px;
    background-color:#24DE9E;
    color:white;
    height:5%;
    border-radius:8px;
    border:white;
    width: 200%;
}

#myInput {
    width: 90%;
    padding: 12px 20px;
    display: inline-block;
    border-radius:20px;
    background-color: #6F787F;
    margin-top: 10%;
}



.addButton {
    width: 10%;
    float: left;
    background-color: #FFFFFF;
    height: 5%;
    font-family:verdana;
    text-align: center;
    border-radius:75%;
    color: #24DE9E;
    margin-left: 91%;
    margin-top: -11%;
    font-size: 30px;
}

body {
    background-color: #323E49;
}
input::placeholder {
    color: white;
    font-size: 15px;
}
input {
    color:white;
    font-size: 15px;
}
