
#title {
    text-align: center;
    font-family:verdana;
    color:#FFFFFF;
}

#myInput {
	width: 60%;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
}

#uList li {
    padding: 2%;
    color:#FFFFFF;
    font-family:verdana;
}

.closeButton {
    position:absolute;
    right: 10%;
    background-color: #f44336;
    z-index: 1000;
    color:white;
    width:5%;

}

.closeButton:hover {
    background-color: salmon;
}


.progressButton {
    float:right;
    top:2%;
    position: relative;
    margin-top:115%;
}
#progress {
    font-size: 15px;
    background-color:#24DE9E;
    color:white;
    height:5%;
    border-radius:8px;
    border:white;
}

#myInput {
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #3EBDCF;
    box-sizing: border-box;
}

.closeButton {
    position:absolute;
    right: 0;
    background-color: red;
    width:10%;
    z-index: 1000;
    color:white;

}

.closeButton:hover {
    background-color: salmon;
}

.addButton {
    font-size: 30px;
    background-color: #FFFFFF;
    font-family:verdana;
    text-align: center;
    border-radius:15%;
    color: #24DE9E;
    margin-left: 5%;
}

body {
    background-color: #323E49;
}
