body {
	background-color: #F2F9FF;
}

.btnDiv {
	border-radius: 8px;
	background-color: #24DE9E;
}
#btn {
	font-family: verdana;
	font-weight:bold;
	font-size:15px;
	text-align:center;
	padding-left:10px;
	width:100%;
}

.title {
	text-align: center;
}
